<div class="calendar">
    <ngx-calendar
        [calendars]="['MONTH', 'DATE', 'WEEK', 'MONTH', 'YEAR', 'PERIOD']"
        [minDate]="calendarMinDate"
        [maxDate]="calendarMaxDate"
        [route]="['/']"
        (onChanged)="setCalendar($event)"
        [width]="'450px'"
    ></ngx-calendar>

    <ngx-calendar-day [route]="['/']" [width]="'300px'" (onChanged)="setDay($event)"></ngx-calendar-day>
</div>

<!-- MOMENT -->
<div class="calendars">
    <section>
        <header>
            <div class="title">MOMENT</div>
            <button mat-button (click)="momentContainer = momentContainer === 'DIALOG' ? 'BOTTOMSHEET' : 'DIALOG'">
                {{ momentContainer === 'DIALOG' ? 'BOTTOMSHEET' : 'DIALOG' }}
            </button>
        </header>
        <div class="component">
            <ngx-calendar-moment [value]="moment" (onChange)="setMoment($event)"></ngx-calendar-moment>
        </div>
        <div class="value">{{ moment ? (moment | ngxHelperDate : { format: 'FULL' }) : '&nbsp;' }}</div>
        <div class="buttons">
            <button mat-flat-button type="button" (click)="getMoment()">انتخاب زمان</button>
            <button mat-flat-button type="button" (click)="getMoment('MIN')">حداقل</button>
            <button mat-flat-button type="button" (click)="getMoment('MAX')">حداکثر</button>
        </div>
    </section>
</div>

<div class="calendars">
    <!-- DATE -->
    <section>
        <header>
            <div class="title">DATE</div>
            <button mat-button (click)="dateContainer = dateContainer === 'DIALOG' ? 'BOTTOMSHEET' : 'DIALOG'">
                {{ dateContainer === 'DIALOG' ? 'BOTTOMSHEET' : 'DIALOG' }}
            </button>
        </header>
        <div class="component">
            <ngx-calendar-date [value]="date" (onChange)="setDate($event)"></ngx-calendar-date>
        </div>
        <div class="value">{{ date ? (date | ngxHelperDate) : '&nbsp;' }}</div>
        <div class="buttons">
            <button mat-flat-button type="button" (click)="getDate()">انتخاب تاریخ</button>
            <button mat-flat-button type="button" (click)="getDate('MIN')">حداقل</button>
            <button mat-flat-button type="button" (click)="getDate('MAX')">حداکثر</button>
        </div>
    </section>

    <!-- WEEK -->
    <section>
        <header>
            <div class="title">WEEK</div>
            <button mat-button (click)="weekContainer = weekContainer === 'DIALOG' ? 'BOTTOMSHEET' : 'DIALOG'">
                {{ weekContainer === 'DIALOG' ? 'BOTTOMSHEET' : 'DIALOG' }}
            </button>
        </header>
        <div class="component">
            <ngx-calendar-week [value]="week" (onChange)="setWeek($event)"></ngx-calendar-week>
        </div>
        <div class="value">{{ week ? (week.from | ngxHelperDate : { format: 'WEEK' }) : '&nbsp;' }}</div>
        <div class="buttons">
            <button mat-flat-button type="button" (click)="getWeek()">انتخاب هفته</button>
            <button mat-flat-button type="button" (click)="getWeek('MIN')">حداقل</button>
            <button mat-flat-button type="button" (click)="getWeek('MAX')">حداکثر</button>
        </div>
    </section>
</div>

<div class="calendars">
    <!-- MONTH -->
    <section>
        <header>
            <div class="title">MONTH</div>
            <button mat-button (click)="monthContainer = monthContainer === 'DIALOG' ? 'BOTTOMSHEET' : 'DIALOG'">
                {{ monthContainer === 'DIALOG' ? 'BOTTOMSHEET' : 'DIALOG' }}
            </button>
        </header>
        <div class="component">
            <ngx-calendar-month [value]="month" (onChange)="setMonth($event)"></ngx-calendar-month>
        </div>
        <div class="value">{{ month ? (month.from | ngxHelperDate : { format: 'MONTH' }) : '&nbsp;' }}</div>
        <div class="buttons">
            <button mat-flat-button type="button" (click)="getMonth()">انتخاب ماه</button>
            <button mat-flat-button type="button" (click)="getMonth('MIN')">حداقل</button>
            <button mat-flat-button type="button" (click)="getMonth('MAX')">حداکثر</button>
        </div>
    </section>

    <!-- YEAR -->
    <section>
        <header>
            <div class="title">YEAR</div>
            <button mat-button (click)="yearContainer = yearContainer === 'DIALOG' ? 'BOTTOMSHEET' : 'DIALOG'">
                {{ yearContainer === 'DIALOG' ? 'BOTTOMSHEET' : 'DIALOG' }}
            </button>
        </header>
        <div class="component">
            <ngx-calendar-year [value]="year" (onChange)="setYear($event)"></ngx-calendar-year>
        </div>
        <div class="value">{{ year ? (year.from | ngxHelperDate : { format: 'YEAR' }) : '&nbsp;' }}</div>
        <div class="buttons">
            <button mat-flat-button type="button" (click)="getYear()">انتخاب سال</button>
            <button mat-flat-button type="button" (click)="getYear('MIN')">حداقل</button>
            <button mat-flat-button type="button" (click)="getYear('MAX')">حداکثر</button>
        </div>
    </section>
</div>
