.calendar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.calendars {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    column-gap: 3rem;

    section {
        flex: 1;
    }
}

@media only screen and (max-width: 900px) {
    .calendar {
        margin-top: 0;
    }

    .calendars {
        display: block;

        section {
            margin-top: 1rem;
        }
    }
}

section {
    display: flex;
    flex-direction: column;

    border-radius: 4px;
    border: 1px solid var(--outline-variant);
    box-shadow: 0 1px 5px 0 var(--outline);
    margin-top: 3rem;

    header {
        display: flex;
        align-items: center;
        border-radius: 4px 4px 0 0;
        background-color: var(--outline-variant);

        .title {
            flex: 1;

            font-size: 14px;
            font-weight: 500;
            padding: 0.75rem 1rem;
        }

        button {
            font-size: 12px;
        }
    }

    .component {
        width: 355px;
        max-width: 100%;
        margin: 0 auto;
    }

    .value {
        direction: rtl;
        padding: 1rem;
        text-align: center;
        border-top: 1px solid var(--outline-variant);
    }

    .buttons {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        row-gap: 0.75rem;
        column-gap: 0.75rem;

        padding: 0.75rem 1rem;
        background-color: var(--outline-variant);

        button {
            flex-grow: 1;
        }
    }
}
